<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Mua ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{flower.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{flower.videoId}}" title="{{flower.name}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{flower.description}}</p>
        </div>
    </div>
</div>